/.idea/.idea.TelegramBotCore/
/src/TelegramBotCore.API/bin/Debug/netcoreapp3.1/
/src/TelegramBotCore.API/obj/
/src/TelegramBotCore.API/appsettings.Development.json
/src/TelegramBotCore.Core/obj/
/src/BotCore.API/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/src/BotCore.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
/src/BotCore.API/bin/Debug/netcoreapp3.1/appsettings.json
/src/BotCore.API/bin/Debug/netcoreapp3.1/TelegramBotCore.API.deps.json
/src/BotCore.API/bin/Debug/netcoreapp3.1/TelegramBotCore.API.runtimeconfig.dev.json
/src/BotCore.API/bin/Debug/netcoreapp3.1/TelegramBotCore.API.runtimeconfig.json
/src/BotCore.API/obj/Debug/netcoreapp3.1/staticwebassets/TelegramBotCore.API.StaticWebAssets.xml
/src/BotCore.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/src/BotCore.API/obj/Debug/netcoreapp3.1/BotCore.API.AssemblyInfo.cs
/src/BotCore.API/obj/Debug/netcoreapp3.1/TelegramBotCore.API.AssemblyInfo.cs
/src/BotCore.API/obj/Debug/netcoreapp3.1/TelegramBotCore.API.csproj.FileListAbsolute.txt
/src/BotCore.API/obj/BotCore.API.csproj.nuget.dgspec.json
/src/BotCore.API/obj/BotCore.API.csproj.nuget.g.props
/src/BotCore.API/obj/BotCore.API.csproj.nuget.g.targets
/src/BotCore.API/obj/project.assets.json
/src/BotCore.API/obj/project.packagespec.json
/src/BotCore.API/obj/rider.project.restore.info
/src/BotCore.API/obj/TelegramBotCore.API.csproj.nuget.dgspec.json
/src/BotCore.API/obj/TelegramBotCore.API.csproj.nuget.g.props
/src/BotCore.API/obj/TelegramBotCore.API.csproj.nuget.g.targets
/src/BotCore.API/appsettings.Development.json
/src/BotCore.Core/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
/src/BotCore.Core/obj/Debug/netcoreapp3.0/BotCore.Core.AssemblyInfo.cs
/src/BotCore.Core/obj/Debug/netcoreapp3.0/TelegramBotCore.Core.AssemblyInfo.cs
/src/BotCore.Core/obj/BotCore.Core.csproj.nuget.dgspec.json
/src/BotCore.Core/obj/BotCore.Core.csproj.nuget.g.props
/src/BotCore.Core/obj/BotCore.Core.csproj.nuget.g.targets
/src/BotCore.Core/obj/project.assets.json
/src/BotCore.Core/obj/project.packagespec.json
/src/BotCore.Core/obj/rider.project.restore.info
/src/BotCore.Core/obj/TelegramBotCore.Core.csproj.nuget.dgspec.json
/src/BotCore.Core/obj/TelegramBotCore.Core.csproj.nuget.g.props
/src/BotCore.Core/obj/TelegramBotCore.Core.csproj.nuget.g.targets
